#banner {

    a {
        color:$rojo; 
        
        &:hover {
            color:gray;
        }
    }

    height: 200px;
    position: relative;

    
    .imagen {

        z-index: 100;
        width: 100%;
        overflow: hidden;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .contenido {
        
        z-index: 300;
        width: 100%;
        height: 100%;

    }

}

#textos_nosotros {

    .container {
        height:280px;
    }


}

#asesores {

    a {

        color: black;

        &:hover {
            color:black;
        }

    }

    .card2 {

        &:hover {

            box-shadow: 1px 6px 12px gray;

        }

        .imagen {
            height: 250px;

            img {

                height: 100%;
                object-fit: contain;
            }
        }


    }

}
