#servicios {

    

    .servicios>div {
        height: 280px;
    }
    
    

    .imagenes_servicios {
       
        img {
            width: 100%;
        }
        
    }

    
    .ancla {

        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 380px;

    }

    .animacion {

        font-size: 40px;
    }

}